<div class="container">
      <form class="margin-box">
        <div class="form-group">
          <label for="exampleInputEmail">Email address</label>
          <input type="email" class="form-control" placeholder="Email" data-ng-model="cred.Email" required>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword">Password</label>
          <input type="password" class="form-control" placeholder="Password" data-ng-model="cred.Password" required>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Keep me logged in
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>